.headerSection {
  display: block;
  padding: 25px 50px;
  border-bottom: 2px solid #cecece;
  box-shadow: 0 0 10px rgba(194, 194, 194, 0.6);
}
.link {
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  color: black;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.link:hover,
.link:focus {
  color: rgba(69, 89, 240, 0.831);
}